@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

html {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: #3f4241;
}
body {
  text-decoration: none;
  color: #3f4241;
}
.header {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 85px;
  /* margin-left: 100px;
  margin-right: 100px; */
  text-decoration: none;
}

.header_name {
  text-decoration: none;
  color: #3f4241;
  font-size: 2rem;
  font-weight: 600;
}

.header_title {
  font-size: 2rem;
}
.header_name {
  font-weight: 00;
}

.header_name:hover {
  font-weight: 800;
}
.header_2 {
  justify-self: end;
  align-items: center;
}

.dropdown_btn {
  background-color: white;
  border: none;
  color: #3f4241;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.dropdown_arrow {
  font-size: 1.5rem;
  color: #3f4241;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_list {
  display: none;
  position: absolute;
  right: 0;
  font-size: 1.4rem;
  color: #3f4241;
  font-family: "Nunito Sans", sans-serif;
  background-color: white;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  min-width: 160px;
  /* z-index: 1; */
}

.dropdown_list a {
  color: black;
  text-decoration: none;
}

.dropdown_list a:hover {
  font-weight: 600;
}
.dropdown:hover .dropdown_list {
  display: block;
}

.dropdown:hover .dropdown_btn {
  font-weight: 800;
}

.projects {
  display: grid;
  /* justify-self: center; */
  /* justify-items: center; */
  /* grid-gap: 20px; */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-bottom: 30px;
}
.project {
  width: 100%;
}

.project_img {
  /* object-fit: cover; */
  width: 100%;
  justify-content: center;
}
/* .project_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

.contact {
  display: grid;
}

.contact_email {
  justify-self: center;
  font-size: 2rem;
}

.contact_btn {
  font-weight: 600;
}

.footer {
  display: grid;
  margin-top: 20px;
}

.footer_icons {
  justify-self: center;
}

.footer_icon {
  margin: 1rem;
}
@media (max-width: 7000px) {
  .projects {
    margin-left: 0;
    margin-right: 0;
    justify-self: center;
  }
}

@media (max-width: 400px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
