@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

html {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: #3f4241;
}
body {
  text-decoration: none;
  color: #3f4241;
  margin-left: 140px;
  margin-right: 140px;
}

/* <<<<<<<<<<<<<<<<< Burger Menu >>>>>>>>>>>>>>>> */
.burger_menu {
  display: grid;
}
.burger {
  justify-self: end;
}

.burger_menu {
  display: inline-block;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.burger_btn {
  background-color: white;
  border: none;
  color: #3f4241;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.burger {
  position: relative;
  display: inline-block;
}

.burger_list {
  display: none;
  position: absolute;
  right: 0;
  font-size: 1.4rem;
  color: #3f4241;
  font-family: "Nunito Sans", sans-serif;
  background-color: white;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  min-width: 160px;
  /* z-index: 1; */
}

.burger_list a {
  color: black;
  text-decoration: none;
}

.burger:active .burger_list {
  display: block;
}

/* <<<<<<<<<<<<<<<<< End Burger Menu >>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<< Header >>>>>>>>>>>>>>>> */

.header {
  display: grid;
  /* grid-gap: 20px; */
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 110px;
  /* margin-left: 100px;
  margin-right: 100px; */
  text-decoration: none;
}

.header_name {
  text-decoration: none;
  color: #3f4241;
  font-size: 2rem;
}

.header_name_1 {
  font-weight: 600;
}

.header_title {
  font-size: 2rem;
}

.header_name:hover {
  opacity: 70%;
}
.header_2 {
  justify-self: end;
  align-items: center;
}

.dropdown_btn {
  background-color: white;
  border: none;
  color: #3f4241;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
}

/* .dropdown_arrow {
  font-size: 1.5rem;
  color: #3f4241;
} */

.dropdown {
  position: relative;
  display: inline-block;
  text-align: end;
}

.dropdown_list {
  display: none;
  position: absolute;
  right: 0;
  width: 250px;
  font-size: 1.7rem;
  color: #3f4241;
  font-family: "Nunito Sans", sans-serif;
  background-color: white;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  min-width: 160px;
  /* z-index: 1; */
}

.dropdown_list a {
  color: #3f4241;
  text-decoration: none;
}

.dropdown_list a:hover {
  opacity: 70%;
}
.dropdown:hover .dropdown_list {
  display: block;
}

.dropdown:hover .dropdown_btn {
  opacity: 70%;
}

/* <<<<<<<<<<<<<<<<< End Header >>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<< Projects >>>>>>>>>>>>>>>> */

.projects {
  display: grid;
  grid-gap: 10px;
}

.project,
.project_1 {
  padding-top: 65%;
  position: relative;
}

.project_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img {
  width: 400px;
  height: 300px;
  height: 100%;
  object-fit: cover;
}
.project_img:hover {
  opacity: 70%;
}

.project_img img {
  width: 100%;
}

/* <<<<<<<<<<<<<<<<< End Projects >>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<< About Me/Contact >>>>>>>>>>>>>>>> */

.about_me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5rem;
  margin-top: 70px;
}

.about_text button {
  font-size: 2rem;
  font-family: "Nunito Sans", sans-serif;
  border: none;
  background-color: white;
  text-align: left;
  padding-left: 0px;
  padding: 0px;
  margin: 0px;
  outline: none;
}

#about_desc img {
  width: 100px;
  height: 100px;
}

.about_desc_wrap {
  display: grid;
  grid-template-columns: 25% 1fr;
  margin-top: 20px;
}

.about_desc_space {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.contact button {
  font-size: 2rem;
  font-family: "Nunito Sans", sans-serif;
  border: none;
  background-color: white;
  /* justify-content: left; */
  text-align: right;
  padding-right: 0px;
  padding: 0px;
  margin: 0px;
  outline: none;
}

.about_title_font {
  text-decoration: none;
  color: #3f4241;
}
.about_title:hover {
  opacity: 50%;
}

.contact_title:hover {
  opacity: 50%;
}

.contact_title_font {
  text-decoration: none;
  color: #3f4241;
}
.contact {
  text-align: right;
}

#contact_email {
  font-size: 1.5rem;
  margin-top: 20px;
}

html {
  scroll-behavior: smooth;
}

/* <<<<<<<<<<<<<<<<< End About Me/Contact >>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<<<<<< Footer >>>>>>>>>>>>>>>> */

.footer {
  display: grid;
  margin-top: 10px;
}

.footer_icons {
  justify-self: center;
  margin-top: 1vh;
}

.footer_icon {
  margin-right: 0.5rem;
}

.footer_img {
  text-decoration: none;
}
.footer_icon:hover {
  opacity: 50%;
}

/* <<<<<<<<<<<<<<<<< End Footer >>>>>>>>>>>>>>>> */

/* @media (max-width: 1439px) {
  .header_empty {
    display: none;
  }
} */

/* @media (max-width: 1000px) {
  .projects {
    margin-left: 0;
    margin-right: 0;
    justify-self: center;
  }
} */

@media (min-width: 1280px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1279px) {
  body {
    margin-right: 10px;
    margin-left: 10px;
  }
  .header,
  .projects,
  .about_me {
    grid-template-columns: 1fr;
  }

  .about_me,
  .contact {
    text-align: center;
  }

  .contact {
    margin-top: 20px;
  }

  .about_desc_2 {
    text-align: left;
  }
  .dropdown {
    display: none;
  }
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }
}

.footer {
  margin-top: 40px;
}

/* ---------------------------------- Sub page --------------------------------- */

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vh auto 50vh auto 50vh auto 50vh auto auto 80vh auto auto auto auto;
  grid-gap: 10px;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.center {
  justify-content: center;
}

.list_none {
  list-style-type: none;
}
/* .header_img,
.header_texts,
.method_img,
.method_texts,
.iterations_img,
.iterations_texts,
.insights_img,
.insights_texts,
.prototype_img,
.prototype_texts {
  border: solid grey 0.5px;
} */

.header_image,
.method_image,
.iterations_image {
  /* background-image: url(header_img.png); */
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* .method_img {
  background-image: url(https://source.unsplash.com/random/1280x800?v=2);
} */
/* .iterations_img {
  background-image: url(https://source.unsplash.com/random/1280x800?v=3);
} */

.insights_img {
  background-image: url(https://source.unsplash.com/random/1280x800?v=4);
}

.prototype_img {
  background-image: url(https://source.unsplash.com/random/1280x800?v=5);
}

.header_img:hover .img_overlay {
  opacity: 100%;
}

/* .header_img:hover {
  opacity: 50%;
} */

/* .img_text {
  color: rgba(0, 0, 0, 0);
  font-size: 6rem;
  font-weight: 600;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
} */

.header_texts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  align-content: center;
}

.main_title {
  font-size: 3rem;
}

.main_subtitle {
  font-size: 2rem;
}

.subtitle_link {
  text-decoration: underline;
  color: #3f4241;
}

.desc_link {
  color: #3f4241;
}

.subtitle:hover {
  font-weight: 600;
}

.desc_title {
  font-size: 2.5rem;
}

.desc {
  font-size: 1.6rem;
}

.header_desc {
  font-size: 2rem;
}

.method_texts,
.insights_texts,
.iterations_texts {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  align-content: center;
}

.method_title {
  font-size: 2.5rem;
}

.method_desc {
  font-size: 1.5rem;
}

.prototype {
  display: grid;
  grid-template-columns: 1fr;
}

.prototype_title {
  font-size: 3rem;
  justify-self: center;
}

/* ipad */
@media (max-width: 1279px) {
  .header_texts,
  .method_texts,
  .iterations_texts,
  .insights_texts,
  .about_me {
    grid-template-columns: 1fr;
  }
}

/* iphone 6/7/8 */
@media (max-width: 767px) {
  .main_title {
    font-size: 3rem;
  }
  .main_subtitle {
    font-size: 1.7rem;
  }
  .desc_title {
    font-size: 2rem;
  }
  .desc {
    font-size: 1.7rem;
  }
  .prototype_title {
    font-size: 3rem;
  }
  .about_desc_wrap {
    grid-template-columns: 1fr;
  }

  .about_desc_2 {
    margin-top: 20px;
  }

  .contact {
    margin-top: 20px;
  }
}

/* iphone 5 */
@media (max-width: 374px) {
  .main_title {
    font-size: 2.5rem;
  }
  .prototype_title {
    font-size: 2.5rem;
  }
}

/* ---------------------------------- End Sub page --------------------------------- */

/* ---------------------------------- Sub page - Queer Booth --------------------------------- */
