@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

html {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: #3f4241;
}
body {
  text-decoration: none;
  color: #3f4241;
}
/* #menuToggle {
  display: block;
  position: relative;
  top: 50px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-emphasis: none;
  color: #3f4241;
  transition: color 0.3 ease;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  right: -5px;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

}

transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
} */

.burger_menu {
  display: grid;
}
.burger {
  justify-self: end;
}

.burger_menu {
  display: inline-block;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.burger_btn {
  background-color: white;
  border: none;
  color: #3f4241;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.burger {
  position: relative;
  display: inline-block;
}

.burger_list {
  display: none;
  position: absolute;
  right: 0;
  font-size: 1.4rem;
  color: #3f4241;
  font-family: "Nunito Sans", sans-serif;
  background-color: white;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  min-width: 160px;
  /* z-index: 1; */
}

.burger_list a {
  color: black;
  text-decoration: none;
}

.burger:active .burger_list {
  display: block;
}

.header {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 85px;
  /* margin-left: 100px;
  margin-right: 100px; */
  text-decoration: none;
}

.header_name {
  text-decoration: none;
  color: #3f4241;
  font-size: 2rem;
  font-weight: 600;
}

.header_title {
  font-size: 2rem;
}
.header_name {
  font-weight: 00;
}

.header_name:hover {
  font-weight: 800;
}
.header_2 {
  justify-self: end;
  align-items: center;
}

.dropdown_btn {
  background-color: white;
  border: none;
  color: #3f4241;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.dropdown_arrow {
  font-size: 1.5rem;
  color: #3f4241;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_list {
  display: none;
  position: absolute;
  right: 0;
  font-size: 1.4rem;
  color: #3f4241;
  font-family: "Nunito Sans", sans-serif;
  background-color: white;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  min-width: 160px;
  /* z-index: 1; */
}

.dropdown_list a {
  color: black;
  text-decoration: none;
}

.dropdown_list a:hover {
  font-weight: 600;
}
.dropdown:hover .dropdown_list {
  display: block;
}

.dropdown:hover .dropdown_btn {
  font-weight: 800;
}

.projects {
  display: grid;
  /* justify-self: center; */
  /* justify-items: center; */
  /* grid-gap: 20px; */
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-bottom: 30px;
}
.project {
  width: 100%;
}

.project_img {
  /* object-fit: cover; */
  width: 100%;
  justify-content: center;
}
/* .project_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

.contact {
  display: grid;
}

.contact_email {
  justify-self: center;
  font-size: 2rem;
}

.contact_btn {
  font-weight: 600;
}

.accordion {
  background-color: white;
  color: #3f4241;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active {
  font-weight: 600;
}

.contact_panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.footer {
  display: grid;
  margin-top: 20px;
}

.footer_icons {
  justify-self: center;
}

.footer_icon {
  margin: 1rem;
}
@media (max-width: 7000px) {
  .projects {
    margin-left: 0;
    margin-right: 0;
    justify-self: center;
  }
}

@media (max-width: 400px) {
  .projects {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .dropdown {
    display: none;
  }
}

@media (min-width: 769px) {
  .burger {
    display: none;
  }
}
